@charset "UTF-8";
/**
**功能：首页样式表
**开发人员：Tom.Anny
**日期：2018/2/27
**/
html, body {
	font: 16px/28px '微软雅黑';
}

/*容器样式*/
.container {
	width: 1180px;
	margin: 0 auto;
}

/*header样式*/
header {
	background-color: #353535;
}

.logo {
	margin-right: 125px;
}

ul.nav {
	line-height: 70px;
}

ul.nav > li {
	float: left;
	position: relative;
}
ul.nav li:hover >a{
	color:#0BE;
}
ul.nav > li > a {
	font-size: 15px;
	color: #c3c6ca;
	padding: 0 20px 15px 10px;
	position: relative;
}

li.items > a:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	right: 5px;
	top: 7px;
	display: inline-block;
	border-style: solid;
	border-width: 5px;
	border-color: #c3c6ca transparent transparent transparent;
}
.search-box{
	padding-top: 21px;
	position: relative;
}
#search {
	width: 172px;
	height: 31px;
	border:1px solid #666;
	padding-left: 10px;
	background-color: #000;
	color:#999;
	font-size: 12px;
	margin-right: 36px;
}
#searchBtn{
	width:37px;
	height: 31px;
	position: absolute;
	right:0px;
	top:22px;
	display: inline-block;
	background: url("../images/search-new.png") no-repeat;
	background-size: cover;
}
/*二级菜单样式*/
.item-list{
	width:150px;
	position: absolute;
	left:0;
	background-color: #000;
	display: none;
}
.item-list>li{
	line-height:32px;
	padding:0 10px;
}
.item-list>li:hover{
	background-color: #353535;
}
.item-list>li>a{
	font-size: 12px;
	color:#c3c6ca;
}

/*鼠标hover一级li,显示二级菜单*/
li.items:hover{
	background-color: #000;
}
li.items:hover>.item-list{
	display: block;
}



