body,a,ul,li,img,p{margin:0; padding: 0;}
body{
	font-family: Helvetica,Arial,serif;
	color: #333;
	background: #ccc;
	margin: 1em 10%;
}

a{
	color: #c60;
	font-weight: bold;
	text-decoration: none;
}
ul{
	padding: 0;
}

li{
	float: left;
	padding: 1em;
	list-style: none;
}

img{
	display: block;
	clear: both;
	width:600px;
}

p{
	font: 26px/150% '楷体';
	color:#00f;
}